mat-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 335px;
}

mat-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

.buttons-container {
  display: grid;
  grid-row: 2;
  grid-template-areas:
    "top-row top-row top-row"
    "bottom-row-extract bottom-row-transfer bottom-row-load";
  grid-row-gap: 2px;
  grid-column-gap: 2px;
}

.top-row {
  grid-area: top-row;
}

.bottom-row-extract {
  grid-area: bottom-row-extract;
}

.bottom-row-transfer {
  grid-area: bottom-row-transfer;
}

.bottom-row-load {
  grid-area: bottom-row-load;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

input {
  font-size: larger;
}

.pages-input {
  width: 5ch;
  margin-left: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.request-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  grid-column-gap: 10px;
  padding-top: 20px;
  button {
    padding: 10px 0px;
    span.mat-button-wrap {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-column: 1;
      * {
        width: fit-content;
        height: fit-content;
      }
    }
  }
}

i {
  transform: scale(1.5);
}

.download-csv {
  color: greenyellow
}

.clear-database {
  color: red;
}
